block Configuration
  h2 Configurations
  div
    p Configs:       #{JSON.stringify(configs)}
    form(method="post", action="/configuration/set")
      br
      if (configs.AvailableLoginServices)
        span Available Login Services:
        label
          input(type='checkBox', name="loginMethod", value="DispatchMyself" checked=configs.AvailableLoginServices.hasOwnProperty('DispatchMyself')? true: false) 
          | DispatchMyself
        label
          input(type='checkBox', name="loginMethod", value="Facebook" checked=configs.AvailableLoginServices.hasOwnProperty('Facebook')? true: false)
          | Facebook
        label
          input(type='checkBox', name="loginMethod", value="Google" checked=configs.AvailableLoginServices.hasOwnProperty('Google')? true: false) 
          | Google
        label
          input(type='checkBox', name="loginMethod", value="Twitter" checked=configs.AvailableLoginServices.hasOwnProperty('Twitter')? true: false) 
          | Twitter
        br
      input(type="submit")