doctype html
// views/signup.ejs
html
  head
    title Create New Site
    |     
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    style.
      body        { padding-top:80px; }
  body
    p #{JSON.stringify(sites)}
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
            p  Create New Site
        if(message)
          if(message.length > 0)
            .alert.alert-danger #{message}
        // LOGIN FORM
        form(action'/site/create', method='post')
          input(type="hidden", name="_csrf", value=csrfToken)
          each site in sites
            p #{site.label}
        
        form(action='/site/create', method='post')
          input(type="hidden", name="_csrf", value=csrfToken)
          input.templateFileInput(type="hidden", name="templateFile", value=sites[0].templateFile)
          .form-group
            label Site Name
            |             
            input.form-control(type='text', name='siteName')
            label Site Tagline
            |             
            input.form-control(type='text', name='tagLine')
          | 
          .form-group
            label Template - 
              label.chosenTemplate #{sites[0].templateFile}
              .templateChooser
                .mid
                  img(src=sites[0].thumbnail, style='width:600px;')
                ul
                  each site in sites
                    li
                      img(src=site.thumbnail, style="width:200px; height:118px;", value=site.templateFile)
          .form-group
            label Allowed Social Logins
            br
            input(type='checkBox', name="Facebook")             
            label  Facebook
             br
            input(type='checkBox', name="Twitter")             
            label  Twitter
             br
            input(type='checkBox', name="Google")             
            label  Google+
           .form-group
            label Allowed Sharing Services
            br
            input(type='checkBox', name="FacebookShare")             
            label  Facebook
          button.btn.btn-warning.btn-lg(type='submit') Signup
        |     
        hr
        |     
        p
          | Or go 
          a(href='/') home
          | 
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jcarousellite.min.js')
    script(type='text/javascript').
      $(function() {
        $(".templateChooser").jCarouselLite({
          btnNext: ".widget .next",
          btnPrev: ".widget .prev",
          speed: 800,
          easing: "backout"
        });

        $(".templateChooser img").click(function() {
            $(".templateChooser .mid img").attr("src", $(this).attr("src"));
            $(".chosenTemplate").html($(this).attr("value"));
            $(".templateFileInput").attr("value", $(this).attr("value"));
        });
      });
