block GodConfiguration
  h2 God Configurations
  div(data-ng-app="GodConfigurationsApp", data-ng-controller="GodConfigurationsCtrl")
    p Configs:       #{JSON.stringify(configs)}
    p AvailableLoginServices:  #{configs.AvailableLoginServices.hasOwnProperty('Twitter')}
    form(method="post", action="/configuration/GodConfiguration/set")
      br
      if (configs.AvailableLoginServices)
        span Available Login Services:
        label
          input(type='checkBox', name="loginMethod", value="DispatchMyself" checked=configs.AvailableLoginServices.hasOwnProperty('DispatchMyself')? true: false) 
          | DispatchMyself
        label
          input(type='checkBox', name="loginMethod", value="Facebook" checked=configs.AvailableLoginServices.hasOwnProperty('Facebook')? true: false)
          | Facebook
        label
          input(type='checkBox', name="loginMethod", value="Google" checked=configs.AvailableLoginServices.hasOwnProperty('Google')? true: false) 
          | Google
        label
          input(type='checkBox', name="loginMethod", value="Twitter" checked=configs.AvailableLoginServices.hasOwnProperty('Twitter')? true: false) 
          | Twitter
        br
      input(type="submit")